<div class="pageHeading">Editing Current Job Post</div>

<%= render 'form' %>

  <br>
  <br>
  <div class="cAlign">
    <%= link_to 'View Job', @jobboard %>
    <%= link_to 'Return to Admin Home',  admin_path %>  
  </div>