<div id="wrapper">
  
    <!--This link will later become the longin button -->
   <div class="login">
    <%= link_to 'Post New Job', new_jobboard_path %>
   </div>

  <div id = "title">
    Awesome Jobs
  </div>

  <br><br>

<%= render 'form' %>

<%= link_to 'Back', jobboards_path %>
