<div class="pageHeading">Create New Job Post</div>

<%= render 'form' %>

<br> <br>

  <div class="cAlign">
    <div class="bottomLink">
      <%= link_to 'Return to Home', jobboards_path %>
    </div>
  </div>