  <div class="container">
    <div class="three columns">
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
    </div>
    <div class="ten columns">   
      <div class="pageHeading">Create New Job Post</div>
      <%= render 'form' %>
      <br> <br>
      <div class="cAlign">
        <div class="bottomLink">
          <%= link_to 'Return to Home', jobboards_path %>
        </div>
      </div>
    </div>
    <div class="three columns">
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
      <div class="ad">
        <br>
        Your ad goes here!
        <br>
      </div>
    </div>
  <div>