// Place all the styles related to the jobboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Color Scheme

Blues
114279
40648B
669EDC
86AEDC
3573b9
Oranges
BF9350
A66C12
ffb139
ffc46a
ffd492

*/

/* Overall CSS for application.html.erb */
html{
  background-color: #3573B9;
  //background-color: #669EDC;
}
body{
  color: #111133;
  //color: #000000;
  background-color: #3573B9;
  //background-color: #669EDC;
}

#wrapper{
  background-color: #3573B9;
  //background-color: #669EDC;
  color: #111133;
   
}

#wrapperSpacing{
  margin-right: auto;
  margin-left: auto;
  padding:10px;
  width:95%;
}

div{
  border-color: #ffb139;
}

/* contains the company logo*/
#title{
  font-size:400%;
  font-weight:strong;
  height: 60px;
  padding: 10px,0, 10px, 0;
  text-align:left;
  //color: #ffc46a;
  color: #ffb139;
  margin-top: 20px;
}

/* Honestly, this is the site's navigation*/
#nav{
  font-size:100%;
  height: 60px;
  padding-right: 10px;
  text-align:right;
  width: 200px;
  background-color:#ffffff;
  border-style:solid;
  border-width:3px;
  border-color: #ffb139;
  float: right;
  vertical-align: middle;
}

/* Table Formats -- for the Form and the View All
No colors or any advance CSS is to be used*/
table{
   margin-right: auto;
   margin-left: auto;
  width:100%;
}

table{
   margin-right: auto;
   margin-left: auto;
}
  
td{
  text-align: center;
  width:25%;
}

th{
   font-size:120%;
   padding: 20px, 0px, 20px, 0px;
}

/* this is a static heading and only for readability*/
.pageHeading{
   border-bottom-style:solid;
   font-size:150%;
   height:25px;
   padding: 20px, 0px, 20px, 0px;
   text-align:left;
    color: #ffb139;
}

/* containor that holds the job category headers*/
.jobCategory{

}

/* containor that holds job entries*/
#jobList{
  
}

/* Styles for "show" pages*/

h2{
  color: #ffb139;
}

h3{
  color: #ffb139;
}

.rOneRow{
   text-align: right;
    width:14%;
}

.lOneRow{
    text-align: left;
    width:14%;
}

.blackBorder{
  border-style:solid;
  border-width:3px;
  border-color: #ffb139;
  min-height: 60px;
  background-color: #ffffff;
  margin: 2px;
}

.bottomLink{
  border-style:solid;
  border-width:3px;
  border-color: #ffb139;
  min-height: 40px;
  width: 200px;
  background-color: #ffffff;
  margin: 2px;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

/* Styles for "edit" pages */


/* ****** stand alone styles ******** */

.hideIt{
   display:none;
}

.line{
    border-bottom-style:solid;
}

.rAlign{
   text-align: right;
}

.lAlign{
   text-align: left;
}

.cAlign{
   margin-right: auto;
   margin-left: auto;
  text-align:center;
}

.whiteSpace{
  height: 20px;
}