// Place all the styles related to the jobboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Color Scheme

Blues
114279
40648B
669EDC
86AEDC
3573b9
Oranges
BF9350
A66C12
ffb139
ffc46a
ffd492

*/

/* ***************************Overall CSS for application.html.erb ************************* */
html{
  background-color: #ffffff;
  //background-color: #669EDC;
}
body{
  background-color: #ffffff;
  //background-color: #669EDC;
}

#wrapper{
  background-color: #ffffff;
  //background-color: #669EDC;
  //color: #111133;
  
   
}

#wrapperSpacing{
  margin-right: auto;
  margin-left: auto;
  padding:10px;
  width:95%;
  color:#114279;
  background-color: #ffffff;
}

div{
  border-color: #ffb139;
}

/* contains the company logo*/
#heading{
  height: 120px;
  position: relative; 
  width: 960px; 
  margin: 0 auto; 
  padding: 0;
}

#title{
  font-size:400%;
  padding-top: 10px;
  height: 100px;
  text-align:left;
  margin-top:20px;
  color: #ffc46a;
  float: left;
  width: 500px;
  vertical-align:middle;
  text-decoration:none;
}

#title a:link {text-decoration:none;
                color: #ffc46a;}
#title a:visited {text-decoration:none;
                color: #ffc46a;}
#title a:hover {font-weight:bold;
                color: #ffc46a;
                background-color:#669EDC }
#title a:active {font-weight:bold;
                color: #ffc46a;}

/* Honestly, this is the site's navigation*/
#nav{
  font-size:100%;
  height: 75px;
  padding-right: 10px;
  text-align:right;
  width: 200px;
  background-color:#ffd492;
  border-style:solid;
  border-width:3px;
  border-color: #669EDC;
  float: right;
  vertical-align: middle;
}

/* ************TAGS LOCATED ON INDIVIDUAL PAGES*********** */

/* Table Formats -- for the Form and the View All
No colors or any advance CSS is to be used*/
table{
   margin-right: auto;
   margin-left: auto;
  width:100%;
}

.viewTable{
  background-color:#ffffff;
}
  
td{
  text-align: center;
  width:25%;
  height: 30px;
  //background-color: #86AEDC;
  color: #111111;
  padding-left: 2px;
  padding-right: 2px;
}

th{
   font-size:110%;
   padding: 20px, 5px, 10px, 5px;
   height: 40px;
   //background-color: #86AEDC;
  //border-color: #86aedc;
}

/* this is a static heading and only for readability*/
.pageHeading{
   border-bottom-style:solid;
   font-size:150%;
  font-weight:bold;
   height:25px;
   padding: 20px, 0px, 20px, 0px;
   text-align:left;
    color: #ffb139;
}

/* ads */
.ad{
  background-color: #86AEDC;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.adText{
  font-size: 110%;
  font-weight: bold;
  color: #111133;
}

/* containor that holds the job category headers*/
.jobCategory{

}

/* containor that holds job entries*/
#jobList{
  
}

/* Styles for "show" pages*/

h2{
  color: #114279;
}

h3{
  color: #114279;
}

.detailsRow{
  height: 40px; 
     margin-right: auto;
   margin-left: auto;
}

.detailsCentering{
  width: 120px;
}

.rOneRow{
   text-align: right;
    width:14%;
}

.lOneRow{
    text-align: left;
    width:14%;
}

.blackBorder{
  border-style:solid;
  border-width:3px;
  border-color: #669EDC;
  min-height: 60px;
  background-color: #ffd492;
  margin: 2px;
}

.bottomLink{
  border-style:solid;
  border-width:3px;
  border-color: #669EDC;
  min-height: 40px;
  width: 200px;
  background-color: #ffd492;
  margin: 2px;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

/* Styles for "edit" and 'new' pages */
.field{
  color: #ffb139;
  font-size: 150%;
  font-weight:bold;
}

/* ****** stand alone styles ******** */

.hideIt{
   display:none;
}

.line{
    border-bottom-style:solid;
}

.rAlign{
   text-align: right;
}

.lAlign{
   text-align: left;
}

.cAlign{
   margin-right: auto;
   margin-left: auto;
  text-align:center;
}

.whiteSpace{
  height: 20px;
}